*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0deg, 0%, 98%);
}

p {
  font-size: 0.9375rem;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  color: hsl(234deg, 12%, 34%);
  padding: 5.125rem 1.875rem;
}

.header {
  max-width: 532px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4.75rem;
}
.header__heading {
  font-size: clamp(1.5rem, 1.057rem + 1.863vw, 2.25rem);
  font-weight: 200;
  line-height: 1.4;
  margin-bottom: 1.25rem;
  -webkit-animation: fadeInDown 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: fadeInDown 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  animation: fadeInDown 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.header__heading span {
  font-weight: 600;
  -webkit-animation: fadeInDown 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: fadeInDown 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.header__paragraph {
  color: hsl(229deg, 6%, 66%);
  -webkit-animation: fadeInDown 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: fadeInDown 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.875rem;
}
.features__item {
  padding: 1.625rem 1.875rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 2rem rgba(76, 78, 97, 0.2);
}
.features__item--supervisor {
  border-top: 5px solid #45d3d3;
  -webkit-animation: fadeInRight 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: fadeInRight 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.features__item--team-builder {
  border-top: 5px solid #ea5353;
  -webkit-animation: fadeInRight 1s 0.15s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: fadeInRight 1s 0.15s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.features__item--karma {
  border-top: 5px solid #fcaf4a;
  -webkit-animation: fadeInRight 1s 0.3s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: fadeInRight 1s 0.3s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.features__item--calculator {
  border-top: 5px solid #549ef2;
  -webkit-animation: fadeInRight 1s 0.45s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: fadeInRight 1s 0.45s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.features__heading {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}
.features__paragraph {
  font-size: 200;
  font-size: 0.875rem;
  margin-bottom: 2rem;
  color: hsl(229deg, 6%, 66%);
}
.features__icon {
  width: 3.5rem;
  margin-left: auto;
}

@media (min-width: 56.5em) {
  .header__heading {
    font-size: 2.25rem;
    margin-bottom: 0.625rem;
  }
  .features {
    grid-template-rows: repeat(4, 1fr);
  }
  .features__item--supervisor {
    grid-row: 2/4;
  }
  .features__item--team-builder {
    grid-column: 2;
    grid-row: 1/3;
  }
  .features__item--karma {
    grid-column: 2;
    grid-row: 3/5;
  }
  .features__item--calculator {
    grid-row: 2/4;
    grid-column: 3;
  }
  .features__paragraph {
    margin-bottom: 3rem;
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */